.category-content :deep(h2) {
    text-transform: uppercase;
}
.filters-block {
    position: relative;
    z-index: 10;
}
.subcategories .subcategory {
    .v-btn {
        background-color: $hover-color;
        text-indent: 0;
        letter-spacing: 0;
        font-size: 16px;
        box-shadow: unset !important;
    } 
}
.iframe-video {
    width: 100%;
    height: 30vw;
    max-height: 340px;
    display: block;
}
@include xs{
    .content-padding {
        padding-top: 90px;
    }
    .subcategories .subcategory {
        .v-btn {
            width: 100%;
        } 
    }
}